.bg-image-space-1 {
    background-image: url(images/space-1.jpg);
    background-size: cover;
}

.bg-image-space-2 {
    background-image: url(images/space-2.jpg);
    background-size: cover;
}

.bg-image-space-3 {
    background-image: url(images/space-3.jpg);
    background-size: cover;
}

.h-25px {
    height: 25px;
}

.h-150px {
    height: 150px;
}

.w-50px {
    max-width: 50px;
    min-width: 0px;
}

img.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.min-h-100 {
    min-height: 100%;
}

.bg-white {
    background: white;
    color: black;
    opacity: 0.85;
}

.bg-black {
    background: black;
    color: white;
    opacity: 0.75;
}